/* ==========================================================================
   2. General - Setting up some base styles
   ========================================================================== */

html{
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-color: #fff;
    font-family: "PingFang SC", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.428571429;
    color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
    margin: 0;
    font-weight: normal;
}

a {
    text-decoration: none;
}

a:link {
    color: #a6abb2;
}

a:visited {
    color: #a6abb2;
}

button {
    border: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

::-moz-selection {
    color: #fff;
    background-color: #000;
}

::selection {
    color: #fff;
    background-color: #000;
}

/* ==========================================================================
   3. Main - Page's main styles
   ========================================================================== */

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.wrapper{
    width: 900px;
    min-height: 100%;
    position: relative;
    margin: 0 auto;
    padding-bottom: 60px;
    box-sizing: border-box;
}

.wrapper-index{
    width: 700px;
    margin: 50px auto 0;
}
/* banner */

.banner {
    height: 600px;
    color: #fff;
    background-color: #30A9DE;
    background: linear-gradient(258.25deg, #5ddeff 12%, #ad6aff 83%);
    transition: all .5s cubic-bezier(.55, 0, .1, 1);
}

.banner-nav {
    height: 50px;
}

.nav-button {
    position: absolute;
    right: 0;
    padding: 5px;
    margin: 15px;
    cursor: pointer;
    background: none;
    outline: none;
    transition: all .5s cubic-bezier(.55, 0, .1, 1);
}

.nav-button::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    margin-bottom: 3px;
    background-color: rgba(255, 255, 255, 0.8);
}

.nav-button::after {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    margin-top: 3px;
    background-color: rgba(255, 255, 255, 0.8);
}

/* .nav-button span {
    display: block;
    width: 20px;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.8);
} */

.nav-button span:first-child {
    margin-bottom: 5px;
}

.nav-list {
    width: 100px;
    height: 0px;
    position: absolute;
    right: 20px;
    top: 50px;
    background-color: #fff;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}
.nav-list-show{
    display: block;
    height:126px;
}
.nav-list ul {
    list-style: none;
    text-align: center;
}

.nav-list ul li:hover {
    background-color: #eee;
}

.nav-list ul li a {
    display: block;
    padding: 10px 0;
}

.banner-content {
    margin-top: 180px;
    text-align: center;
    transition: all .5s cubic-bezier(.55, 0, .1, 1);
}

.banner-content h1 {
    font-family: "PingFang SC", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 3em;
    font-weight: lighter;
}

.banner-content h2 img{
    width: 226px;
    margin-top: 20px;
    opacity: 0.8;
}

/* article */

.main-list {
    transition: all .5s cubic-bezier(.55, 0, .1, 1);
}

.article-items {
    background-color: #fff;
    margin-bottom: 70px;
}

.article-items .article-preview {
    position: relative;
}

.article-items .article-preview .article-link {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.article-items .article-preview .article-title {
    color: #4e4e4e;
    font-weight: bold;
    padding: .5rem 0;
    display: flex;
    align-items: center;
}

.article-items .article-preview .article-title h2 {
    flex: 1;
}

.article-items .article-preview .article-title span {
    float: right;
    color: #ccc;
    padding-right: 8px;
    font-size: 15px;
    font-weight: lighter;
    font-family: "PingFang SC", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.article-items .article-preview .article-excerpt {
    color: #8a8a8a;
}

.article-paginator {
    text-align: center;
}

.page-number {
    padding: 0px 10px;
}

.extend {
    padding: 4px 8px;
    margin: 0 10px;
    border: 1px solid #000;
    border-radius: 16px;
    color: #8a8a8a;
}

.extend:hover {
    border: 1px solid #000;
    background-color: #000;
    color: #fff;
    transition: all .3s;
}

/* article content */

.header {}

.header-container {
    margin: 0 auto;
    padding: 40px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.header-title {
    font-size: 22px;
    font-weight: lighter;
    font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header-nav {
    margin-left: 30px;
}

.menu {
    margin: 0;
    padding: 0;
    width: 200px;
    font-size: 14px;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.menu-item a {
    color: #616161;
    padding: 4px;
    transition: all .3s cubic-bezier(.55, 0, .1, 1);
}

.menu-item a:hover {
    color: #fff;
    background-color: #c3c3c3;
}

.post-container {
    margin: 80px auto 0;
    transition: all .5s cubic-bezier(.55, 0, .1, 1);
}

.post-title {
    margin-bottom: 80px;
    color: #a9a9a9;
}

.post-title .title {
    font-size: 47px;
    font-weight: bold;
    color: #333;
}

.post-title .subtitle {
    font-size: 19px;
    font-weight: normal;
    color: #292929;
    margin: 0 0 20px 0;
}

.post-title .meta-item {
    font-size: 15px;
}

.post-title .meta-item:not(:last-child) {
    margin-right: 10px;
}

.post-container p {
    margin-bottom: 20px;
    font-size: 16px;
    color: #666;
}

.post-container blockquote {
    margin: 0 0 20px 0;
    padding: 5px 20px;
    border-left: 4px solid rgba(102, 128, 153, 0.2);
}

.post-container blockquote p {
    margin: 0;
    color: #828282;
}

.post-container h1 {
    margin-bottom: 1.6rem;
    font-weight: bold;
}

.post-container h2 {
    margin: 2rem 0 0.6rem 0;
    font-weight: bold;
}

.post-container h3 {
    margin: 2rem 0 0.6rem 0;
    font-weight: bold;
}

.post-container h4 {
    margin: 2rem 0 0.6rem 0;
    font-weight: bold;
}

.post-container h5 {
    margin: 2rem 0 0.6rem 0;
    font-weight: bold;
}

.post-container h6 {
    margin: 2rem 0 0.6rem 0;
    font-weight: bold;
}

.post-container a {
    text-decoration: none;
    color: #a6abb2;
    border-bottom: 1px dotted #a6abb2;
}

.post-container a:hover {
    border-bottom: 1px solid #c1c7cf;
}

.post-container img {
    display: block;
    max-width: 100%;
    margin: auto;
}

.post-container code {
    font-family: "PingFang SC", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.author {
    margin: 50px;
    padding: 20px;
    display: flex;
    border-top: 1px solid rgb(0, 0, 0, .1);
    align-items: center;
    justify-content: center;
}

.author .author_avatar {
    min-width: 60px;
    min-height: 60px;
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 50%;
    margin-right: 30px;
    transition: all .2s ease-in-out;
}

.author .author_avatar:hover {
    box-shadow: 0 0 4px 5px #dddddd;
}

.author .author_name {
    font-size: 20px;
    color: #000;
    font-weight: bold;
    border-bottom: none;
    transition: all .5s ease;
}

.author .author_name:hover {
    border-bottom: 1px solid #000;
}

.author .author_description {
    margin: 10px 0 0 0;
}

/* Archives */

.archive {
    background-color: aliceblue;
    border-radius: 10px;
    padding: 14px;
}

.archive a {
    color: #333;
}

.archive .year {
    font-size: 20px;
}

.archive_item {
    margin-bottom: 10px;
}

/* footer */

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #a6abb2;
    font-size: 13px;
    padding-bottom: 20px;
}

.footer section {
    display: inline-block;
}

.link {
    text-decoration: none;
    border-bottom: 1px dotted #a6abb2;
}

.link:hover {
    border-bottom: 1px solid #c1c7cf;
}

.copyright {
    width: 45%;
}

.poweredby {
    width: 55%;
    float: right;
    text-align: right;
}

/* Disqus */

#disqus_thread {
    margin: 0 20px;
}

@media only screen and (min-width:900px) {
    /* Todo */
}

/* ==========================================================================
   3. Media Queries (Tablet) - Smaller than 900px
   ========================================================================== */

@media only screen and (max-width:900px) {
    .wrapper{
        width: auto;
    }

    .banner {
        /* padding: 200px 0; */
        height: 500px;
    }
    .banner .banner-content {
        margin-top: 150px;
    }
    .banner .banner-content h1 {
        font-size: 35px;
        letter-spacing: .1rem;
        word-spacing: .4rem;
    }
    .banner .banner-content h2 img{
        width: 180px;
        margin-top: 15px;
        opacity: 0.8;
    }
    /* article */
    .main-list {
        width: inherit;
        margin: 50px 50px 0;
    }
    .article-items {
        margin-bottom: 20px;
        border-radius: 10PX;
        padding: 20px;
    }
    .article-items .article-preview .article-title {
        font-weight: bold;
        padding-bottom: 5px;
    }
    .article-items .article-preview .article-title span {
        font-size: 14px;
    }
    .article-items .article-preview .article-excerpt {
        font-size: 16px;
    }
    /* article-content */
    .header-container {
        margin: 0 auto;
        padding: 20px 0 20px 20px;
    }
    .header-title {
        font-size: 22px;
    }
    .header-nav {
        /* display: none; */
    }
    .post-container {
        margin: 50px 30px 0;
        transition: all .5s cubic-bezier(.55, 0, .1, 1);
    }
    .post-title .title {
        font-size: 29px;
    }
    .post-title .meta-item {
        font-size: 13px;
    }
    .footer {
        font-size: 15px;
        padding: 16px;
        padding-top: 0px
    }
}

/* ==========================================================================
   4. Media Queries (Mobile) - Smaller than 500px
   ========================================================================== */

@media only screen and (max-width:500px) {
    body {
        background-color: #f7f8fa;
    }
    .wrapper{
        width: auto;
    }
    /* banner */
    .banner {
        height: 290px;
    }
    .banner .banner-nav .nav-list {
        width: 80px;
    }
    .banner-nav .nav-list ul li a {
        font-size: 13px;
    }
    .banner .banner-content {
        margin-top: 65px;
    }
    .banner .banner-content h1 {
        font-size: 28px;
        margin: 10px 0;
        letter-spacing: .01rem;
    }
    .banner .banner-content h2 img{
        margin-top: 5px;
        width: 130px;
        opacity: 0.8;
    }
    .header-title {
        font-size: 15px;
    }
    /* article-index */
    .main-list {
        width: inherit;
        margin: 20px 10px 0;
    }
    .article-items {
        margin-bottom: 20px;
        border-radius: 10PX;
        padding: 10px;
    }
    .article-items .article-preview .article-title {
        padding-bottom: 5px;
    }
    .article-items .article-preview .article-title h2 {
        font-size: 20px;
        font-weight: bold;
    }
    .article-items .article-preview .article-title span {
        font-size: 13px;
        padding: 0;
    }
    .article-items .article-preview .article-excerpt {
        font-size: 14px;
    }
    /* article-main */
    .header-container-title {
        display: none;
    }
    .post-title {
        margin-bottom: 30px;
    }
    .header-nav {
        margin-left:0;
}
    .post-title .title {
        font-size: 25px;
        margin-bottom: 20px;
    }
    .post-title .subtitle{
        font-size: 16px;
    }
    .post-title .meta-item {
        font-size: 10px;
    }
    .post-container blockquote {
        padding: 4px 15px;
    }
    .post-container blockquote p {
        font-size: 15px;
    }
    /* footer */
    .footer {
        font-size: 12px;
        padding: 10px;
        padding-top: 0px
    }
}