/* SCSS Variables */

/*--------------
  Font
  -------------- */
// @import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,300i,600';

$fix-font: "SourceSansPro",sans-serif,Arial,"PingFang SC","Microsoft YaHei";
$base-font: "Source Sans Pro", Helvetica, Arial, sans-serif;
$code-font: Menlo, Monaco, monospace;
$code-gist-font: Menlo, Monaco, "Courier New", monospace !important;


 @font-face {
    font-family: 'SourceSansPro';
    src: url(../fonts/SourceSansPro-Light.eot); // Internet Explorer 4.0+
    src: url(../fonts/SourceSansPro-Light.otf.woff) format('woff'), // Modern Browsers
         url(../fonts/SourceSansPro-Light.ttf) format('truetype'); // Safari, Android, iOS
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
     font-family: 'SourceSansPro';
     src: url(../fonts/SourceSansPro-Regular.eot); // Internet Explorer 4.0+
     src: url(../fonts/SourceSansPro-Regular.otf.woff) format('woff'), // Modern Browsers
          url(../fonts/SourceSansPro-Regular.ttf) format('truetype'); // Safari, Android, iOS
     font-weight: 400;
     font-style: normal;
   }
  @font-face {
     font-family: 'SourceSansPro';
     src: url(../fonts/SourceSansPro-Semibold.eot); // Internet Explorer 4.0+
     src: url(../fonts/SourceSansPro-Semibold.otf.woff) format('woff'), // Modern Browsers
          url(../fonts/SourceSansPro-Semibold.ttf) format('truetype'); // Safari, Android, iOS
     font-weight: 600;
     font-style: normal;
   }
/*--------------
  Color
  -------------- */
$base-color: rgba(#333,0.8);
$base-lighten-color: lighten($base-color, 50);

$background-color: #fff;
$background-over-color: #f5f7f9;

$text-color: #333;
$link-color: #268bd2;
$code-color: #bf616a;
$code-background-color: #f9f9f9;
$table-border-color: #e5e5e5;
$table-background-color: #f9f9f9;
